/* LANDING PAGE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

*{
    
  color: whitesmoke;
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
}

.container1{
  
    max-width:1320px;
    padding: 0 16px;
    margin: 0 auto;
}

#header{
  
    min-height:100vh;
    border-bottom: 8px solid #333;
    background-color: #7cb6d1;

}

.navbar-toggler{
    display: none;
}

.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 132px;
}

.navbar-brand{
    font-size: 29px;
    font-weight: 600px;
}

.navbar-collapse{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;

}

.navbar-nav{
    list-style-type: none;
}

.nav-item{
    display:inline-block;
    margin-left: 64px;
}

.nav-link{
    transition: #7289da 0.3s ease-in-out;
}

.nav-link:hover{
    color:#7289da;
}

.header-btns{
    margin-left:110px;
}

.header-btns .btn{
    background-color: #7289da;
    padding: 12px 20px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
}

.btn.btn-signin{
    color: whitesmoke;
}

.btn.btn-signin:hover{
    border-color: whitesmoke;
}
.navbar__brand{

    width: 65px;
    height: 65px;
    rotate: left;
  }
  
  .brand__logo {
    
    width: 100%;
    height: 100%;
  }

  .banner{
      display:flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      font-family: 'Monsterrat',sans-serif ;
  }

  .banner-right img{
      width: 750px;
     
  }

  .banner-left{
      width: 40%;
      color: #7289da;
  }

  .banner-right{
      width: 60%;
      overflow: hidden;
  }

  .banner-title{
      font-size: 45px;
      text-transform: capitalize;
      line-height: 1.4;
  }

  .banner-text{
      font-size: 18px;
      margin: 10px 0 30px 0;
      line-height: 1.6;
      max-width: 392px;
  }

 @media screen and (max-width: 1200px){
     .nav-item{
         margin-left:30px;
     }

     .header-btn{
         margin-left: 48px;
     }

     .banner-left{
         width:60%;
     }

     .banner-right{
         width: 40%;
     }
 }


 @media screen and (max-width:992px){
     .navbar-toggler{
         display: block;
     }

     .brand__and__toggler{
         display: flex;
         align-items: center;
         justify-content: space-between;
     }

     .navbar-collapse{
         position: fixed;
         right:0;
         top:0;
         flex-direction: column;
         justify-content: flex-start;
         background-color: #7289da;
         height:100%;
         width: 320px;
         transform: translateX(100%);
         z-index:999;
     }


     .nav-item{
         display: block;
         margin:20px 0;
         background-color: #7289da;
         text-align: center;
     }

     .navbar-nav{
         margin-top:50px;

     }

     .nav-link{
         color: #fff;
         transition: all 0.3s ease-in-out;
     }

     .nav-link:hover{
         color: #7289da;
     }

     .brand__and__toggler{
         width:100%;
     }

     .navbar-toggler{
         border:none;
         font-size: 20px;
         display: inline-block;
         padding: 4px 8px;
         background-color: transparent;
         color: #ffffff;
         border-radius: 2px;
         cursor: pointer;
         transition: all 0.3s ease-in-out;

     }

    .navbar-toggler:hover{
        color: #7289da;
    }

    .header-btns{
        margin:0;
    }

    .header-btns .btn{
        display: lock;
        text-align: center;
        width: 260px;
    }

    .btn.btn-signin{
      margin-top: 12px;
      margin-bottom: 12px;
      background-color: #fff;
      color: black;

    }

    .btn.btn-signin:hover{
        border-color: #fff!important;
        transform: translate(-2px);
    }

    

 }


 @media screen and (max-width: 780px){
     .banner-right{
         display: none;
     }

     .banner-left{
         width: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
     }
   
    

 }

 .showNavbar{
     transform: translate(0);
 }

 .showNavbar-toggler{
    z-index:1000;
    color: #fff; 
 }

 .resize-animation-stopper *{
    animation: none!important;
    transition: none!important;
}

.holder{
    overflow:hidden;
}

@media screen and (max-width: 480px){
    .navbar-collapse{
        width: 100%;
    }
}


/* POPUP CARDS */

body{
   min-height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
   background-color: black;
}


.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: 100px;
    
}


.product .product_card{
    z-index: 1;
    background: #1D2128;
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin: 10px 10px ;
}

.product .product_card:before{
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product_card .product_img{
    z-index: 2;
    position: absolute;
    max-width: 370px;
    top: 0%;
    left: 3.5%;
    transform: translate (-50%, -50%);
}

.product .product_card .name{
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 110px;
    font-size: 20px;
}

.product .product_card .price{
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 70px;
    font-size: 15px;
    font-weight: 300;

}

.product .product_card .popup_btn{
    z-index: 2;
    color: #ffff;
    background: #7289da;
    position: absolute;
    bottom: 20px;
    left: 35%;
    transform: translateX(-50%, -50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.product .product_card .popup_btn:hover{
  border-color: whitesmoke;
}

.product .popup_view{
    z-index: 2;
    background:rgba(255, 255, 255, 0.5);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items:center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    
}

.product .popup_view.active{
    opacity:1;
    visibility: visible;
}


.product .popup_card{
    position:relative;
    display:flex;
    width: 800px;
    height: 560px;
    margin: 20px;

}

.product .popup_card .product_img{
    z-index:2;
    background: #1d2128;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup_card .product_img img{
    z-index: 2;
    position: relative;
    width: 450px;
    left: -50px;
}

.product .popup_card .info{
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup_card .close_btn{
   color: #555;
   Z-index: 3;
   position: absolute;
   right:0;
   font-size: 20px;
   margin: 20px;
   cursor: pointer;

}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}

.product .popup_card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup_card info p{
    font-size: 15px;
    margin: 10px;
}

.product .popup_card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.product .popup_card .info .add_cart_btn{
    color: #fff;
    background: gray;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;

}


/*--Responsive styles---*/

@media(max-width: 900px){
    .product .popup_card{
        flex-direction: column;
        width: 350px;
        height: auto;

    }
    
   
    
    .product .popup_card .product_img{
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-top-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product .popup-card .product_img img{
        left: initial;
        top: 0;
        max-width: 100%;
    }

    .product .popup_card .info{
        width:100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .product .popup_card .info h2{
        margin: 40px 5px 5px 5px;
        font-size: 25px;

    }


    .product .popup_card .info h2 span{
        font-size: 10px;
    }

    .product .popup_card .info p{
        margin: 5px;
        font-size: 13px;
    }

    .product .popup_card .info .price{
        margin: 5px;
        font-size: 30px;
    }

    .product .popup_card .info .add_cart_btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    }

    .product .popup_card .close_btn{
        z-index:4;
    }
  }

@media (min-width: 300){
    .product .product_card{
      margin: 10px 5px;
    }
}




  /***TESTIMONIALS***/

body{
  margin:0;
 
  height: 100% auto;
  width: 100%;
}



img{
  max-width: 100%;
}

p{
  line-height: 27px;
}

.col i{
  margin: 8px;
  color:rgba(255, 255, 255, 0.5);

}

section{
  padding: 5px 0;
  color: black;
}

.title{
  font-weight: 300;
  font-size: 80px;
  text-align: center;
  padding: 15px;
  
}

.title p{
  font-size: 18px;
  margin:30px;
  
}

.row{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.col{
  flex: 1 1 250px;
  padding: 15px;
  margin: 30px 10px;
}



.testimonials{
  border-top: 8px solid #333;
  border-bottom: 8px solid #333;
  margin:100px 0px;
  top: 10%;
  width: 100%;
  text-align: center;
  background-color: #7cb6d1;
  
}


.testimonials .col{
  background-color: #506097;
  
  padding: 10px;
  border-radius: 15px;
  margin-top: 60px;
  
}

.testimonials .col:hover{
  background-color: #6f81c2;
 

}

.testimonials h2{
  top: 0%;
  font-size: 50px;
}

.testimonials img{
  image-resolution: 10x;
  border-radius: 100%;
  border-style: solid;
  margin-top: -30%;
}


@media (max-width: 800px){

  .testimonials{
    margin-top: 5%;
  }

  .testimonials.col{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .testimonials img{
    margin-top: -10%;
  }

  .testimonials h2{
    top: -20%;
    font-size: 50px;
  }
  
}


/* EVENTS */

body{
  font-family: "Poppins";
}
.container2{
  width: 500px;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}
.img-container img{
  width: 100%;
  height: 80%;
  border-radius: 4px 4px 0px 0px;
}
.content-container{
  padding: 10px 20px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}
.content-container h1{
  font-size: 24px;
  color:black;
  margin:10 10;
}
.content-container h2{
  background: #7289da;
  width: 100px;
  font-size: 8px;
  padding: 5px;
  color: black;
  text-align: center;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  font-weight: 700;
}
.content-container p{
  color: grey;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02rem;
  line-height: 1.3rem;
  margin-bottom: 30px;
  
}
.content-container .btn{
  background: #39A9DB;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.content-container .btn:hover{
  background: #52b1dd;
}


  
 /****FOOTER****/
  
  footer {
    border-top: 8px solid #333;
    background-color: #7cb6d1;
    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .footer__row__1 > h4 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .footer__row__3 > .dropdown__container {
    width: fit-content;
    border: 1px solid #757575;
    color: #757575;
  }
  
  .footer__row__3 > .dropdown__container > .language__drop__down {
    color: #757575;
  }
  
  @media (min-width: 768px) {
    .hero__bg__image__container {
      height: 100vh;
    }
  
    .hero__bg__overlay {
      height: 100vh;
    }
    .hero__card {
      top: 40%;
      left: 30%;
      transform: translate(-20%, -20%);
    }
    .hero__title {
      font-size: 3rem;
    }
    .hero__subtitle,
    .hero__description {
      font-size: 1.3rem;
    }

    .widget_container{
      display: flex;
      flex-direction: column;
      text-align: right;
      z-index: 2;
      top:50%;
      right:30%;
      }
  
  
    .feature {
      padding: 4rem;
    }
  
    .feature__title {
      font-size: 35px;
    }
  
    .feature__sub__title {
      font-size: 20px;
    }
    .feature__2__poster__container {
      max-width: 26em;
      height: 85px;
    }
    .poster__container {
      width: 15%;
    }
    .download__gif__container {
      width: 3rem;
      height: 3rem;
    }
  
    .poster__details > h4 {
      font-size: 18px;
    }
    .poster__details > h6 {
      font-size: 14px;
    }
    .FAQ__title {
      font-size: 20px;
    }
    .FAQ__heading {
      font-size: 38px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .FAQ__list {
      padding: 1rem 5rem;
    }
    .FAQ__get__started__email {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(15%);
    }
  }
  
  @media (min-width: 1024px) {
    .navbar {
      padding: 1% 2%;
    }
  
    .navbar__brand {
      width: 100px;
    }
  
    .signin__button {
      padding: 8px 10px;
      font-size: 14px;
    }
    .dropdown__container {
      padding: 10px 5px;
    }
  
    .navbar__nav__items {
      gap: 30px;
    }
  
    .hero__card {
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
    }
    
    .widget{
      display: flex;
      flex-direction: column;
      text-align: right;
      z-index: 2;
      top:50%;
      right:0%;
      }

      .joinin__button{
        background-color: #738adb;
        border-color:#738adb;
        color: white;
      padding: 10px 10px;
      font-size: 18px;
      }
  
    .feature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  
    .feature__details {
      text-align: left;
      padding: 0 6rem;
    }
  
    .feature__title {
      font-size: 50px;
    }
  
    .feature__sub__title {
      font-size: 25px;
    }
  
    .feature__image__container {
      max-width: 500px;
    }
  
    .feature:nth-child(even) {
      flex-direction: row-reverse;
    }
  
    .feature__2__poster__container {
      max-width: 20em;
      height: 100px;
      padding: 1rem;
    }
    .poster__container {
      width: 20%;
    }
    .FAQ__list {
      padding: 1rem 25rem;
    }
    .FAQ__get__started__email {
      transform: translateX(16%);
    }
    footer {
      padding: 2rem 25rem;
      justify-content: flex-start;
      text-align: left;
      align-items: flex-start;
    }
  
    .footer__row__2 {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
    }
  
    .footer__row__1,
    .footer__row__3,
    .footer__row__4 {
      align-self: flex-start;
    }
  }
