* {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-family:Arial, Helvetica, sans-serif;

    box-sizing: border-box;
  }
  
  body {
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1% 5%;
    z-index: 10;
    
  }

  
  .navbar__brand {

    width: 50px;
    height: 50px;
    rotate: left;
  }
  
  .brand__logo {
    
    width: 100%;
    height: 100%;
  }
  
  .aboutus__drop__down {
    background: transparent;
    border: none;
    color: white;
  }
  
  .aboutus__drop__down:focus {
    outline: none;
  }

  
  .Internship__drop__down {
    background: transparent;
    border: none;
    color: white;
  }
  
  .Internship__drop__down:focus {
    outline: none;
  }

  
  .Events__drop__down {
    background: transparent;
    border: none;
    color: white;
  }
  
  .Events__drop__down:focus {
    outline: none;
  }

  
  .Contact__drop__down {
    background: transparent;
    border: none;
    color: white;
  }
  
  .Contact__drop__down:focus {
    outline: none;
  }

  
  .dropdown1__container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .dropdown2__container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
  }  

  .dropdown3__container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
  }  

  .dropdown4__container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .signin__button {
    background-color: #dc030f;
    border: 1px solid #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }
  
  .navbar__nav__items {
    display: flex;
    gap: 10px;
  }
  .hero{
    background-color: rosybrown;
    height: 95vh;
  }
  
  .hero__bg__image__container {
    width: 100%;
    height: 80vh;
  }
  
  .hero__bg__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .hero__bg__overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    );
  }
  
  .hero__card {
    position: absolute;
    top: 20%;
    left: 0%;
    text-align: center;
    gap: 10px;
  }
  
  .hero__title {
    font-weight: 650;
    font-size: 2rem;
  }
  
  .hero__subtitle,
  .hero__description {
    font-weight: 400;
    font-size: 1rem;
  }
  

  .widget_container{
    display: flex;
    flex-direction: column;
    text-align: right;
    z-index: 2;
    top:50%;
    right:30%;
    }

  .hero__description {
    margin: 0 50px;
  }



body{
  border-top: 8px solid #333;
  min-height:100vh;
    display: flex;
    justify-content:center;
    align-items: center;
   background-color: #fff;
}

.event{
  top: 30%;
  left:-50%;
  font-size: 30px;
  color:rgba(0, 0, 0, 0.8);
}

.container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}


.product .product_card{
    z-index: 1;
    background: #1D2128;
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin: 10px 10px ;
}

.product .product_card:before{
    content: "";
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: block;
    top:0;
    left:0;
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .product_card  .product_img{
    z-index: 2;
    position: absolute;
    max-width: 280px;
    top: 10%;
    left: 3.5%;
    transform: translate (-50%, -50%);
}

.product .product_card .name{
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 130px;
    font-size: 20px;
}

.product .product_card .price{
    z-index: 2;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 80px;
    font-size: 30px;
    font-weight: 300;

}

.product .product_card .popup_btn{
    z-index: 2;
    color: #ffff;
    background: #E50914;
    position: absolute;
    bottom: 20px;
    left: 30%;
    transform: translateX(-50%, -50%);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 10px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.product .popup_view{
    z-index: 2;
    background:rgba(255, 255, 255, 0.5);
    position: fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items:center;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
    
}

.product .popup_view.active{
    opacity:1;
    visibility: visible;
}


.product .popup_card{
    position:relative;
    display:flex;
    width: 800px;
    height: 560px;
    margin: 20px;

}

.product .popup_card .product_img{
    z-index:2;
    background: #1d2128;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 90%;
    transform: translateY(25px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.product .popup_card .product_img img{
    z-index: 2;
    position: relative;
    width: 450px;
    left: -50px;
}

.product .popup_card .info{
    z-index: 2;
    background: #fff;
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 10px;
}

.product .popup_card .close_btn{
   color: #555;
   Z-index: 3;
   position: absolute;
   right:0;
   font-size: 20px;
   margin: 20px;
   cursor: pointer;

}

.product .popup-card .info h2 {
    font-size: 40px;
    line-height: 20px;
    margin: 10px;
}

.product .popup_card .info h2 span{
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.product .popup_card info p{
    font-size: 15px;
    margin: 10px;
}

.product .popup_card .info .price{
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.product .popup_card .info .add_cart_btn{
    color: #fff;
    background: lightslategray;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    margin: 10px auto;
    padding: 10px 50px;
    border-radius: 20px;

}


/*--Responsive styles---*/

@media(min-width: 900px){
    .product .popup_card{
        flex-direction: column;
        width: 350px;
        height: auto;

    }
    
    .event{
      top: 0%;
  font-size: 50px;

    }
    .product .popup_card .product_img{
        z-index: 3;
        width: 100%;
        height: 200px;
        transform: translateY(0);
        border-top-left-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .product .popup-card .product_img img{
        left: initial;
        top: 0;
        max-width: 100%;
    }

    .product .popup_card .info{
        width:100%;
        height: auto;
        padding: 20px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .product .popup_card .info h2{
        margin: 40px 5px 5px 5px;
        font-size: 25px;

    }


    .product .popup_card .info h2 span{
        font-size: 10px;
    }

    .product .popup_card .info p{
        margin: 5px;
        font-size: 13px;
    }

    .product .popup_card .info .price{
        margin: 5px;
        font-size: 30px;
    }

    .product .popup_card .info .add_cart_btn{
        margin: 5px auto;
        padding: 5px 40px;
        font-size: 14px;
    }

    .product .popup_card .close_btn{
        z-index:4;
    }
}

@media (min-width: 300){
    .product .product_card{
      margin: 10px 5px;
    }
}




  /***TESTIMONIALS***/

body{
  margin:0;
  font-family: Gotham, "Helvetica Neue", Arial, Helvetica, "sans-serif";
  color: #fff;
  height: 100%auto;
  width: 100%;
}

img{
  max-width: 100%;
}

p{
  line-height: 27px;
}



section{
  padding: 5px 0;
}

.title{
  text-align: center;
  padding: 15px;
}

.title p{
  font-size: 18px;
  margin:10px;
}

.row{
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.col{
  flex: 1 1 250px;
  padding: 15px;
  margin: 30px 10px;
}



.testimonials{
  border-top: 8px solid #333;
  top: 10%;
  text-align: center;
  background-color: #110e0e;
}


.testimonials .col{
  background-color: #fff;
  color: #252525;
  padding: 10px;
  border-radius: 15px;
  margin-top: 60px;
  
}

.testimonials .col:hover{
  background-color: #c02d2d;
  color: #fff;

}

.testimonials h2{
  top: 0%;
  font-size: 50px;
}

.testimonials img{
  image-resolution: 10x;
  border-radius: 100%;
  border-style: solid;
  margin-top: -30%;
}


@media (max-width: 800px){

  .testimonials{
    margin-top: 5%;
  }
  .testimonials.col{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .testimonials img{
    margin-top: -10%;
  }

  .testimonials h2{
    top: -20%;
    font-size: 70px;
  }
  
}

  
 /****FOOTER****/
  
  footer {
    border-top: 8px solid #333;
    background-color: #151515;
    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .footer__row__2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .footer__row__1 > h4 {
    font-size: 15px;
    font-weight: 500;
  }
  
  .footer__row__3 > .dropdown__container {
    width: fit-content;
    border: 1px solid #757575;
    color: #757575;
  }
  
  .footer__row__3 > .dropdown__container > .language__drop__down {
    color: #757575;
  }
  
  @media (min-width: 768px) {
    .hero__bg__image__container {
      height: 100vh;
    }
  
    .hero__bg__overlay {
      height: 100vh;
    }
    .hero__card {
      top: 40%;
      left: 30%;
      transform: translate(-20%, -20%);
    }
    .hero__title {
      font-size: 3rem;
    }
    .hero__subtitle,
    .hero__description {
      font-size: 1.3rem;
    }

    .widget_container{
      display: flex;
      flex-direction: column;
      text-align: right;
      z-index: 2;
      top:50%;
      right:30%;
      }
  
  
    .feature {
      padding: 4rem;
    }
  
    .feature__title {
      font-size: 35px;
    }
  
    .feature__sub__title {
      font-size: 20px;
    }
    .feature__2__poster__container {
      max-width: 26em;
      height: 85px;
    }
    .poster__container {
      width: 15%;
    }
    .download__gif__container {
      width: 3rem;
      height: 3rem;
    }
  
    .poster__details > h4 {
      font-size: 18px;
    }
    .poster__details > h6 {
      font-size: 14px;
    }
    .FAQ__title {
      font-size: 20px;
    }
    .FAQ__heading {
      font-size: 38px;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .FAQ__list {
      padding: 1rem 5rem;
    }
    .FAQ__get__started__email {
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transform: translateX(15%);
    }
  }
  
  @media (min-width: 1024px) {
    .navbar {
      padding: 1% 2%;
    }
  
    .navbar__brand {
      width: 100px;
    }
  
    .signin__button {
      padding: 8px 10px;
      font-size: 14px;
    }
    .dropdown__container {
      padding: 10px 5px;
    }
  
    .navbar__nav__items {
      gap: 30px;
    }
  
    .hero__card {
      top: 50%;
      left: 30%;
      transform: translate(-50%, -50%);
    }
    
    .widget{
      display: flex;
      flex-direction: column;
      text-align: right;
      z-index: 2;
      top:50%;
      right:0%;
      }

      .joinin__button{
        background-color: #738adb;
        border-color:#738adb;
        color: white;
      padding: 10px 10px;
      font-size: 18px;
      }
  
    .feature {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  
    .feature__details {
      text-align: left;
      padding: 0 6rem;
    }
  
    .feature__title {
      font-size: 50px;
    }
  
    .feature__sub__title {
      font-size: 25px;
    }
  
    .feature__image__container {
      max-width: 500px;
    }
  
    .feature:nth-child(even) {
      flex-direction: row-reverse;
    }
  
    .feature__2__poster__container {
      max-width: 20em;
      height: 100px;
      padding: 1rem;
    }
    .poster__container {
      width: 20%;
    }
    .FAQ__list {
      padding: 1rem 25rem;
    }
    .FAQ__get__started__email {
      transform: translateX(16%);
    }
    footer {
      padding: 2rem 25rem;
      justify-content: flex-start;
      text-align: left;
      align-items: flex-start;
    }
  
    .footer__row__2 {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
    }
  
    .footer__row__1,
    .footer__row__3,
    .footer__row__4 {
      align-self: flex-start;
    }
  }